normalize-css()

// Common Transition
trans($sec = 0.3s)
    transition: all $sec ease
// Grid
$xsmall = 340px
$small = 500px
$med = 700px
$large = 960px
$wide = 1200px

// Colors -- Awaiting moderation and cleanup
black = #222
grey = #D8D8D8

purp = #524763
dark-purp = #373142
red = #E54B4B
teal = #82D8D8
dark-teal = #66A6A6

/* Colour Scheme
--------------------------------------------- */

// Primary
navy-blue = #283342 // Navigation
orange = #FF9603    // Sidebar

// Secondary
burnt = #FE7429
ocean-blue = #088FD9

// Other
light-grey = #EEE

/* Fonts
--------------------------------------------- */
quicksand = 'Quicksand', sans-serif // Headings
roboto = 'Roboto', sans-serif       // Body

/* Elements
--------------------------------------------- */

z = {
    neg: -7,
    lowest: 1,
    low: 4,
    mid: 5,
    video: 6,
    header: 7,
    nav: 8,
    mini: 9,
    modal: 10,
    highest: 11
}

$side-nav = 100px

html
    box-sizing: border-box

*, *:before, *:after
    box-sizing: inherit

/* Typography
--------------------------------------------- */

body
    font-family roboto
    font-size 16px
    background-color light-grey
    // background-image url("https://images.unsplash.com/photo-1425421598808-4a22ce59cc97?dpr=1&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=")
    // background-position center
    // -webkit-background-size cover
    // -moz-background-size cover
    // background-size cover
    // background-repeat no-repeat
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

h1
h2
h3
    font-family quicksand

p
    color #333

.page-title
    text-transform uppercase
    text-align center
    margin-bottom 30px

/* Layout
--------------------------------------------- */
header
    color #FFF
    background: navy-blue
    padding 20px
    fixed top left
    width 100%
    z-index: z.header
    clearfix()
    h1
        margin 0
        font-size 2em
        float left
        font-family quicksand
        font-weight 500
        span
            font-weight 700
        a
            color #FFF
    .login-buttons-dropdown-align-
        float right
        a
            color rgba(255,255,255,0.6);
            text-decoration none
            font-size 18px

.main-layout
    lost-center 90%
    margin 140px 0 150px
    +above($med)
        lost-center 90%
        padding-left $side-nav
    +above($large)
        margin-top 140px

.new-party
    margin-bottom 20px

.new-party-container
    position relative
    background #FFF
    padding 20px
    margin-bottom 20px
    .fa-close
        position absolute
        top 0
        right 0
        padding 20px
    label
        display block
        margin-bottom 10px
    textarea, input
        width 100%

.home-layout
    width 800px
    margin 140px auto
    background-color #fff
    border-radius 8px
    padding 40px 80px
    h2
        font-size 40px
        font-weight 500
        text-align center
        margin 0
        padding 0 0 30px 0
    .search-party
        margin-bottom 40px
        input
            width 80%
            margin-right 12px
        button
            padding 12px 25px

/* Forms, Inputs & Buttons
--------------------------------------------- */
.btn, button
    display inline-block
    cursor pointer
    background ocean-blue
    color #FFF
    text-decoration none
    padding 12px 30px
    border none
    border-radius 8px
    font-size 18px
    font-weight 700
    trans()
    &:hover
        background @background - 20
        border-color @background
        text-decoration none
        color #FFF
    &.btn-primary
        background teal
        border-color teal
        color dark-purp
        &:hover
            background @background - 40
            border-color @background
    &.btn-deny
        background red
        border solid 3px @background
        &:hover
            background @background - 20
            border-color @background
    &.btn-text
        color purp
        background transparent
        border solid 2px purp
        &:hover
            background teal
            border-color @background
    &.btn-text-dark
        color #FFF
        background transparent
        border solid 2px #FFF
        &:hover
            background #FFF
            color dark-purp
            border-color @background
    &.btn-confirmation
        color black
        background green
        border solid 2px @background
        &:hover
            background @background - 20
            border-color dark-purp
    &.btn-cancel
        color #FFF
        background transparent
        border solid 2px #FFF
        opacity 0.4
        &:hover
            background red
            color #FFF
            opacity 1
            border-color @background

input, select, textarea
    color purp
    background #FFF
    border solid 1px light-grey
    border-radius 8px
    font-weight 400
    width 100%
    padding 13px 20px
    margin-bottom 10px
    &:focus
        outline none
        border 1px solid #ddd
    &.static-input
        border none
        background transparent

.list-group
    list-style none
    padding 0

.panel-body
    .form-group
        lost-column 1/2

.autoform-remove-item.btn
    background light-grey
    box-shadow none
    border none
    border-radius 50%
    font-size 1em
    height: 25px
    width: 25px
    text-align: center
    display: block
    padding: 0

.autoform-add-item.btn
    width 100%
    border-radius 0
    border none
    box-shadow none
    background light-grey


.autoform-remove-item-wrap
    vertical-align middle

/* Side Navigation
--------------------------------------------- */

.side-nav
    fixed bottom left
    height 100px
    width 100%
    overflow hidden
    background orange
    color #FFF
    z-index: z.header
    ul
        margin 0
        padding 0
        display flex
        justify-content space-between
        list-style none
    a
        color #FFF
        text-decoration none
        padding 20px 20px
        display block
        text-align center
        trans()
        &:hover, &.active
            background burnt
    i
        display block
        font-size 2.6em
        margin-bottom 10px
    +above($med)
        height 100%
        z-index: z.mid
        top 85px
        fixed left
        width $side-nav
        ul
            display block
        a
            padding 20px 10px
    +above($large)
        a
            padding 20px 20px

.party
    background #FFF
    padding 20px
    margin-bottom 20px
    position relative
    z-index 1
    border 1px solid light-grey
    border-radius 8px
    trans()
    .btn-primary, .btn-deny
        display block
    h3
        font-family roboto
        font-weight 400
        font-size 1.8em
        margin 0
        display inline-block
    .party-header
        border-bottom light-grey solid 1px
        padding-bottom 10px
        margin-bottom 10px
        .party-date
          float right
          font-weight 500
          background-color navy-blue
          color #FFF
          padding 8px 14px
          border-radius 50px
    .party-details
        padding-bottom 14px
    .party-footer
        .created-by
            float right
            padding 18px 0px
    button
        margin-top 20px
    span, .created-by
        font-weight 700
    .created-by
        color orange
    .fa-trash
        opacity 0.3
        cursor pointer
        position absolute
        top 0
        right 0
        font-size 1.6em
        display block
        padding 20px
        color black
        trans()
        &:hover
            color red
            opacity 0.6
    .ingredient
        display inline-block
        margin-right 10px
        font-size 1.2em

@keyframes card
    0%
        transform translate3d(0, 0, 0)
    50%
        transform translate3d(0, -135px, 0)
    51%
        z-index 10
        transform translate3d(0, -135px, 0)
    100%
        z-index 10
        transform translate3d(0, 0, 0)


.menu-item
    @extend .party

.shopping-list
    @extend .party
    padding 50px 5%
    list-style none
    li
        font-size 2em
        padding 20px
        border-bottom 1px solid light-grey
        border-top 1px solid light-grey
        & + li
            border-top none

.login-buttons-dropdown-align-
    #login-dropdown-list
        right 0
        left auto
        a
            color dark-purp
